/* --------- MAIN ---------*/

body{	
	min-height: 100%;
	font-family: 'Josefin Sans';
	font-size: 16px;
	font-weight: normal;
}

p{
	font-family: 'Josefin Sans',sans-serif;
}

footer{
	font-size: 14px;
	color: #ffe;
	background-color: #231D24;
	padding: 1.5rem;
	overflow: hidden;
}

footer a{
	color:#848086;
	font-family: 'Josefin Sans',sans-serif;
	transition: all 0.2s linear
}

footer a:hover{
	color:#fff;
	
}

.top-bar{
	margin-bottom: 2rem;
	margin-top: 2rem;
	background-color: transparent;
}

.top-bar ul{
	background-color: transparent;
}

.top-bar-left ul li a{
	color: #b393c4;
	font-size: 20px;
	font-family: 'Josefin Sans',sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	transition: all 0.2s linear
}

.top-bar-left ul li a:hover{
	color: #fff;
}

.top-bar-right ul li a{
	color: #F0DBFB;
	font-size: 18px;
	font-family: 'Josefin Sans',sans-serif;
	text-transform: uppercase;
	transition: all 0.2s linear
}

.top-bar-right ul li a:hover{
	color: #fff;
}

.info-text{
	color: #E0E0E0;
}

.background-radial{
	background-color: #584860;
	background-image:radial-gradient(1400px 40% at center 10px,#584860 10%,#3d3441 50%);
}

.background-radial-header{
	min-height: 130px;
	background-color: #1f1d20;
	background-image:radial-gradient(800px at center 200px,#5b4a62 0,#1f1d20 100%)
}

.background-grey{
	background-color: #fafafa; 
}

#chart {
  text-align: left;
  box-shadow: 0px 2px 8px rgba(0,0,0,.2);
  border: 1px solid #aaa;
  margin: 32px auto;
  background: white;
}

#changePass{
    display:none;
}

.base-form{
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.dashboard{
	background-color: #3d3441;
	padding-bottom: 67rem;
}

.label-select {
	width: 70%;
	color: #b393c4;
	font-size: 20px;
	font-family: 'Quicksand',sans-serif;
	transition: all 0.2s linear 
}

.label-select:hover{
	color: #fafafa;
}

.profile{
	width: 35px;
	height: 35px;
}


.is-accordion-submenu-parent>a:after {
	border-color: #8151AD transparent transparent;
}
input[type=file]{
	position: relative;
	display: inline-block;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: .1em;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Quicksand',sans-serif;
    
}
input[type=text],[type=password],[type=email],[type=url],[type=number]{
	background-color: #fff !important;
	height: 3rem;
    padding: 8px 12px;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	transition: border linear .2s,box-shadow linear .2s;
	border-radius: 10px;
	font-size: 18px;
	line-height: 28px;
	color: #454545;
}
.profileDiv{
    display:none;
    font-family: 'Lato', sans-serif; 
    font-size: 45px; 
    font-weight: 300; 
    line-height: 58px; 
    margin: 0 0 58px; 
}

.prInfo{
    font-size: 30px;
    line-height: 35px;
    font-style: italic;
    text-align: left;

    
}
.prHeading{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
	margin: 0;
	padding: 0px 0px 30px 0px;
	font-size: 56px;
	line-height: 63px;
	letter-spacing: -2px;
	font-weight: bold;
}

.changePass, #form, .filters{
    display:none;
}

.button-big a{
	color: #fff;
}

.button-small a{
	color: #fff;
}
.button-small{
	font-weight:600;
	font-size:17px;
	letter-spacing:.01em;
	color: #fff;
	background-color:#ed485f;
	padding:10px 20px;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	border-radius:30px;
	border-color: #ed485f;
	text-transform: uppercase;
	transition: background-color .25s ease-out,color .25s ease-out;
}
.button-small:hover{
	background-color: transparent;
}

.button-big{
	position:relative;
	color:#fff;
	font-weight:600;
	font-size:17px;
	letter-spacing:.1em;
	margin-top: 2rem;
	margin-bottom: 2rem;
	font-family: 'Quicksand',sans-serif;
	background-color:#ed485f;
	padding:15px 25px;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	border-radius:30px;
	border-color: #ed485f;
	text-transform:uppercase;
	transition: all .25s ease-out,color .25s ease-out;
}

.button-big:hover{
	background-color: transparent;
}

.cool-red:hover{
	color: #ed485f;
}

.chart-image{
	width: 60%;
	margin-bottom: 2rem;
}


/* ---------- GOOGLE CHARTS STYLES ------------*/

.chart-medium{
	background: #fff;
	height: 450px;
	border-width: 1px;
	border-color: #f5f5f5;
	border:1px solid #ddd;
	border-right: 4px;
	padding: 1rem;
	margin-top: 1rem;
	margin-bottom: 2rem;
	box-shadow: 2px 2px 7px #ddd;
}

/*-------- HELPERS ------------*/

.extra-bottom-margin{
	margin-bottom: 3rem;
}

.extra-top-margin{
	margin-top: 3rem;
}

.sticky-footer-login{
	padding-bottom: 14.4rem;
}

.sticky-footer-track{
	padding-bottom: 8.7rem;
	padding-top: 3.8rem;
}

.sticky-footer-cookies{
	padding-bottom: 7.4rem;
}

.sticky-footer-task{
	padding-top: 3.8rem;
}

.sticky-footer-about{
	padding-top: 10rem;
	padding-bottom: 26.9rem;
}

.black-font{
	color: #000;
}

.white-font{
	color: #fff;
}

.josefin-font{
	font-family: 'Josefin Sans',sans-serif;
}