{% extends 'base.html' %}

{% block background %}
    <div class="wrapper background-radial-header">
{% endblock%}

{% block body_block %}
    <div class="background-grey">
        <div class="row sticky-footer-about">
        	<div class="large-12 columns text-center josefin-font">
				<h1>We are a search engine evaluation website!</h1>

                <h3>Test your search engine algorithm performance against other researchers.</h3>
			</div>
		</div>
	</div>

{% endblock%}