{% extends "base.html" %}
{% load staticfiles %}
{% block title %}TREC-O - Login{% endblock %}
{% block background %}
<div class="wrapper background-radial-header">
{% endblock%}
{% block body_block %}
<div class="background-grey sticky-footer-login">
	<div class="row">
		<div class="medium-3 medium-centered columns black-font">
			<form class="base-form " id="login_form" method="post" action="{% url 'Login' %}" enctype="multipart/form-data">
			<h1 class="text-center"> Login </h1>
            {% csrf_token %}

            {{ form.as_p }}
            <input type="hidden" name="next" value="{{ next }}" />
            <div class="row">
            	<div class="medium-10 medium-centered columns">
            		<input class="button expanded button-big cool-red float-center" type="submit" value="Log In" />
            	</div>
            </div>
            
            
            <div class="row text-center">
            	<p>Need an account? <a href="{% url 'Register' %}">Sign up</a></p>
            </div>
            
        </form>
		</div>
	</div>
</div>
{% endblock %}
