{% extends "base.html" %}
{% load staticfiles %}
{%block title %}TREC-O - Run Error{% endblock %}
{% block background %}
<div class="wrapper background-radial-header">
{% endblock%}
{% block body_block %}
<div class="background-grey">
	<div class="row">
		<div class="medium-3 medium-centered columns black-font">
            <div class="row">
                <p>There was an error processing this run file.</p>
                <p>This could be due to uploading a results file that doesn't correlate to the judgement file we have stored or an invalid judgement file.</p>
                <p>Please contact an administrator if you think something is wrong with the task!</p>
            	<div class="medium-10 medium-centered columns">
            		<a class="button expanded button-big cool-red float-center" type="submit" href="/SubmitRun"/>Go Back!</a>
            	</div>
            </div>
        </form>
		</div>
	</div>
</div>
{% endblock %}