body{	
	min-height: 100%;
	font-family: 'Roboto','Open Sans Condensed','Quicksand','Ubuntu Condensed','Nixie One',cursive,sans-serif;
	font-size: 16px;
	font-weight: normal;
	color:#fff;
}

h1{
	font-family: 'Roboto';
}
p{
	font-family: 'Quicksand',sans-serif;
}

footer{
	font-size: 14px;
	color: #ffe;
	background-color: #231D24;
	padding-top: 1em;
	overflow: hidden;
}

.top-bar{
	margin-top: 2rem;
	background-color: transparent;
}

.top-bar ul{
	background-color: transparent;
}

.top-bar ul li a{
	color: #b393c4;
	font-size: 20px;
	font-family: 'Quicksand',sans-serif;
}

.background-radial{
	background-color: #584860;
	background-image:radial-gradient(1400px 40% at center 10px,#584860 10%,#3d3441 50%);
}

/*.gradient-medium{
	color: #fff;
	background-color: #ed485f;
	background-image: linear-gradient(to right,#f27c36,#ed485f);.
	padding: 15px 25px;
	border-radius: 30px;
	text-transform: uppercase;
}
*/
.gradient-medium a{
	color: #fff;
}

.gradient-medium{position:relative;color:#fff;font-weight:600;font-size:17px;letter-spacing:.1em;background-color:#ed485f;background-image:-moz-linear-gradient(left,#f27c36,#ed485f);background-image:-webkit-gradient(linear,0 0,100% 0,from(#f27c36),to(#ed485f));background-image:-webkit-linear-gradient(left,#f27c36,#ed485f);background-image:-o-linear-gradient(left,#f27c36,#ed485f);background-image:linear-gradient(to right,#f27c36,#ed485f);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff27c36', endColorstr='#ffed485f', GradientType=1);padding:15px 25px;-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px;text-transform:uppercase}

.gradient-medium:focus{
	background-color: #372C3A;
}

.chart-image{
	width: 60%;
	margin-bottom: 2rem;
}